/* Fonts */
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Regular.ttf);
  font-weight: 400;
}
/* Fonts */
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Regular.ttf);
  font-weight: 400;
}
.main-heading {
  color: #FCFCFC;
  font-family: "Gilroy";
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.general-text {
  color: #4C5051;
  font-family: "Product Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.8%; /* 43.776px */
  letter-spacing: 0.96px;
}

.large-heading {
  color: rgba(252, 252, 252, 0.25);
  font-family: "Gilroy";
  font-size: 200px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.general-text-2 {
  color: #FCFCFC;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-section {
  background-image: url(../Images/Herobg.png);
  width: 100%;
  background-size: cover;
  padding: 24px 0px;
}
.hero-section .navbar {
  width: 1280px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.hero-section .navbar ul {
  display: flex;
  gap: 48px;
}
.hero-section .navbar ul li {
  list-style: none;
}
.hero-section .navbar ul li a {
  text-decoration: none;
  color: #FCFCFC;
}
.hero-section .navbar ul li a:hover {
  color: #16A0CC;
}
.hero-section .hero {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  margin: 160px auto;
  gap: 52px;
}
.hero-section .hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero-section .hero .hero-content p {
  color: #FCFCFC;
  font-size: 28px;
}
.hero-section .hero .hero-content .btn {
  margin-top: 24px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 32px;
  border-radius: 4px;
  background: #16A0CC;
  color: #FCFCFC;
  text-align: center;
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}
.hero-section .hero .hero-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section .hero .hero-bottom a {
  text-decoration: none;
  color: #16A0CC;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-section .hero .hero-bottom a img {
  max-width: 40px;
}
.hero-section .hero .hero-bottom .hero-bottom-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images {
  display: flex;
  gap: 48px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city {
  background-image: url(../Images/City03.png);
  width: 200px;
  height: 225px;
  display: flex;
  position: relative;
  justify-content: center;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city h3 {
  margin-top: 20px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city img {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .amritsar {
  background-image: url(../Images/City02.png);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .NewD {
  background-image: url(../Images/City01.png);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider {
  display: flex;
  gap: 24px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider .slider {
  width: 12px;
  height: 12px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.75);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider .selected {
  background-color: #fff;
}

.About-Section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.About-Section .about {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 40px;
}
.About-Section .about-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.About-Section .about-content .large-heading {
  position: absolute;
  left: -68px;
  top: -125px;
}
.About-Section .about-content p {
  max-width: 80%;
}
.About-Section .about-image {
  display: flex;
}
.About-Section .about-image img {
  max-width: 500px;
}/*# sourceMappingURL=style.css.map */