/* Fonts */
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Regular.ttf);
  font-weight: 400;
}
/* Fonts */
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Product sans";
  src: url(../Fonts/Product\ Sans\ Regular.ttf);
  font-weight: 400;
}
.main-heading {
  color: #FCFCFC;
  font-family: "Gilroy";
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.general-text {
  color: #4C5051;
  font-family: "Product Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.8%; /* 43.776px */
  letter-spacing: 0.96px;
}

.large-heading {
  color: rgba(252, 252, 252, 0.25);
  font-family: "Gilroy";
  font-size: 200px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.general-text-2 {
  color: #FCFCFC;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-section {
  background-image: url(../Images/Herobg.png);
  width: 100%;
  background-size: cover;
  padding: 24px 0px;
}
.hero-section .navbar {
  width: 1280px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.hero-section .navbar ul {
  display: flex;
  gap: 48px;
}
.hero-section .navbar ul li {
  list-style: none;
}
.hero-section .navbar ul li a {
  text-decoration: none;
  color: #FCFCFC;
}
.hero-section .navbar ul li a:hover {
  color: #16A0CC;
}
.hero-section .hero {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  margin: 160px auto;
  gap: 60px;
}
.hero-section .hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero-section .hero .hero-content p {
  color: #FCFCFC;
  font-size: 28px;
}
.hero-section .hero .hero-content .btn {
  margin-top: 24px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 32px;
  border-radius: 4px;
  background: #16A0CC;
  color: #FCFCFC;
  text-align: center;
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}
.hero-section .hero .hero-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section .hero .hero-bottom a {
  text-decoration: none;
  color: #16A0CC;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-section .hero .hero-bottom a img {
  max-width: 40px;
}
.hero-section .hero .hero-bottom .hero-bottom-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images {
  display: flex;
  gap: 48px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city {
  background-image: url(../Images/City03.png);
  width: 200px;
  height: 225px;
  display: flex;
  position: relative;
  justify-content: center;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city h3 {
  margin-top: 20px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .city img {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .amritsar {
  background-image: url(../Images/City02.png);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-bottom-images .NewD {
  background-image: url(../Images/City01.png);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider {
  display: flex;
  gap: 24px;
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider .slider {
  width: 12px;
  height: 12px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.75);
}
.hero-section .hero .hero-bottom .hero-bottom-box .hero-slider .selected {
  background-color: #fff;
}

.About-Section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.About-Section .about {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
}
.About-Section .about-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.About-Section .about-content .large-heading {
  position: absolute;
  left: -68px;
  top: -125px;
}
.About-Section .about-content p {
  max-width: 80%;
}
.About-Section .about-image {
  display: flex;
}
.About-Section .about-image img {
  max-width: 500px;
}

.destination-section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.destination-section .destination {
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
}
.destination-section .destination-main {
  display: flex;
}
.destination-section .destination-main img {
  max-width: 450px;
}
.destination-section .destination-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.destination-section .destination-content h1 {
  position: absolute;
  top: -125px;
  left: -90px;
}
.destination-section .destination-content .destination-places .upper-places {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.destination-section .destination-content .destination-places .upper-places .Jaipur {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 208px;
  height: 240px;
  background-image: url(../Images/Jaipur.png);
}
.destination-section .destination-content .destination-places .upper-places .Coimbatore {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 250px;
  height: 195px;
  background-image: url(../Images/Coimbatore.png);
}
.destination-section .destination-content .destination-places .upper-places .Varansi {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 154px;
  height: 195px;
  background-image: url(../Images/Varansi.png);
}
.destination-section .destination-content .destination-places .lower-places {
  margin-top: -24px;
  display: flex;
  align-items: flex-end;
  gap: 24px;
}
.destination-section .destination-content .destination-places .lower-places .Mathura {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 250px;
  height: 159px;
  background-image: url(../Images/Mathura.png);
}
.destination-section .destination-content .destination-places .lower-places .Ladakh {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 183px;
  height: 211px;
  background-image: url(../Images/Ladakh.png);
}
.destination-section .destination-content .destination-places .lower-places .More {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  width: 185px;
  height: 211px;
  background-image: url(../Images/More.png);
}

.tours-section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.tours-section .tours {
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
}
.tours-section .tours-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.tours-section .tours-content h1 {
  position: absolute;
  top: -125px;
  left: -88px;
}
.tours-section .tours .tour-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.tours-section .tours .tour-boxes .tour-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 224px;
  height: 224px;
}
.tours-section .tours .tour-boxes .tour-box p {
  color: #FCFCFC;
}
.tours-section .tours .tour-boxes .may {
  background-image: url(../Images/May.png);
  background-size: cover;
}
.tours-section .tours .tour-boxes .rajasthan {
  background-image: url(../Images/Rajasthan.png);
  background-size: cover;
}
.tours-section .tours .tour-boxes .indian {
  background-image: url(../Images/Indian\ Monuments.png);
  background-size: cover;
}
.tours-section .tours .tour-boxes .check {
  background-image: url(../Images/More.png);
  background-size: cover;
}
.tours-section .tours .tour-image {
  display: flex;
}
.tours-section .tours .tour-image img {
  max-width: 500px;
}

.review-section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.review-section .review {
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
}
.review-section .review-image {
  display: flex;
}
.review-section .review-image img {
  max-width: 450px;
}
.review-section .review-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}
.review-section .review-content h1 {
  position: absolute;
  top: -132px;
  left: -60px;
}
.review-section .review-content .review-written {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 24px;
  position: relative;
  text-align: right;
}
.review-section .review-content .review-written .quote {
  position: absolute;
  left: -50px;
  top: -50px;
}
.review-section .review-content .review-written .blue-text {
  color: #16A0CC;
}
.review-section .review-content .review-written .post {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.review-section .review-content .review-written .post p {
  color: #16A0CC;
}

.contact-section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-section .contact {
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
}
.contact-section .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.contact-section .contact-content-upper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.contact-section .contact-content-upper h1 {
  position: absolute;
  top: -125px;
  left: -88px;
}
.contact-section .contact-content-upper .enter-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-section .contact-content-upper .enter-details .input-text {
  width: 75%;
  border-radius: 4px;
  color: #4C5051;
  border: 2px solid rgba(252, 252, 252, 0.4);
  background-color: #111718;
  padding: 12px;
  text-align: center;
}
.contact-section .contact-content-upper .enter-details .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #16A0CC;
  color: #FCFCFC;
  padding: 12px 24px;
}
.contact-section .contact-content-lower {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-section .contact-content-lower .social-connect {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact-section .contact-content-lower .social-connect img {
  max-width: 36px;
}
.contact-section .contact-content-lower .social-connect p {
  color: #4C5051;
}
.contact-section .contact-image {
  display: flex;
}
.contact-section .contact-image img {
  max-width: 450px;
}

.footer-section {
  background-color: #111718;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-section .footer {
  padding-top: 240px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  align-items: flex-end;
  max-width: 1200px;
  gap: 120px;
  align-items: center;
  width: 90%;
}
.footer-section .footer-left-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-section .footer-right-part {
  display: flex;
  justify-content: space-around;
  gap: 140px;
}
.footer-section .footer-right-part ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-section .footer-right-part ul li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */